{% extends "base.html" %}
{% block title %}{{meal.strMeal}}{% endblock %}

{% block content %}

<h1 class="text-center mb-5">{{meal.strMeal}}
  <span>
  {% if m_id == user_meal.meal_id %} 
    <form action="/users/{{session['username']}}/meals/remove" method="POST">
      <small>
        <button id="meal-id-btn" class="btn btn-sm btn-danger" name="data" value={{m_id}}>Remove From My Meals</button>
      </small>
    </form>
  {% else %}
    <form action="/users/{{session['username']}}/meals/add" method="POST">
      <small>
        <button id="meal-id-btn" class="btn btn-sm btn-success" name="data" value={{m_id}}>Add to My Meals</button>
      </small>
    </form> 
  {% endif %}
  </span>
</h1>

<div class="row">
  <div class="col-6">
<img class="meal-img img-thumbnail d-flex justify-content-center" src="{{meal.strMealThumb}}" alt="">
  </div>
  <div class="col-6">
    <h3>Instructions</h3>
    <p>{{meal.strInstructions}}</p>
  </div>
</div>

<div class="mt-5 text-center" id="ingredients-container"></div>

{% if meal.strYoutube %}
<h3 class="mt-5 text-center">Watch & Learn</h3>
<div class="d-flex justify-content-center">
  <iframe class="youtube mt-2 mb-5 justify-content-center" id={{meal.strYoutube}} width="560" height="315" src="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{% endif %}

{% include '/meal/meal_comment.html' %}

{% endblock %}

{% block js %}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/static/meal.js"></script>
{% endblock %}
 




  
