{% extends "base.html" %}
{% block title %}Meals Index{% endblock %}

{% block content %}

<h1 class="text-center mb-5">Meals Index</h1>
<div>
  <p class="text-center">You can view meal categories or search directly for a meal if you already have something in mind.</p>
  
  <div class="d-flex justify-content-center">
    <a class="btn btn-info mt-5 mr-5" href="/meals/meal-categories">View Meal Categories</a>
    <a class="btn btn-success mt-5" href="/meals/search">Meal Search</a>
    
  </div>

</div>


{% endblock %}

