<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Healthy Living</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"/>
  <link rel="stylesheet" href="/static/styles/homepage.css">
</head>
<body>
  <!-- Menu Overlay -->

  <div class="overlay overlay-slide-left" id="overlay">
    <!-- Menu Items -->
    <nav>
      <ul>
        <li id="nav-1" class="slide-out-1"><a href="#">Home</a></li>
        {% if 'username' not in session %}
        <li id="nav-2" class="slide-out-2"><a href="/register">Register</a></li>
        <li id="nav-3" class="slide-out-3"><a href="/login">Sign In</a></li>
        <li id="nav-4" class="slide-out-4"><a href="/meals">Meals</a></li>
        <li id="nav-5" class="slide-out-5"><a href="/exercises">Exercises</a></li>
        {% else %}
        <li id="nav-2" class="slide-out-2"><a href="/meals">Meals</a></li>
        <li id="nav-3" class="slide-out-3"><a href="/exercises">Exercises</a></li>
        <li id="nav-4" class="slide-out-4"><a href="/users/{{session['username']}}">User Dashboard</a></li>
        <li id="nav-5" class="slide-out-5"><a href="/logout">Log Out</a></li>
        {% endif %}
      </ul>
      
    </nav>
  </div>
    <!-- Menu Bars -->
    <div class="menu-bars" id="menu-bars">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
  
  <!-- Sections -->
  <section id="home"><a class="home-tag" href="" target="_blank">Healthy Living</a>
      <h1>Welcome to Healthy Living!</h1>
      <p>Here, you can find great exercises to add to your workouts and amazing meal recipes to brighten your meals.</p>

      <span>Made With:</span>
      <div id='info-bar' class='show'>
        <a target='_blank' href='https://github.com/alexgenc/Springboard_Bootcamp/tree/master/29_Capstone_Project_1'>
          <img class="logo-img" title="Python" src='/static/images/python.png'>
          <img class="logo-img" title="JavaScript" src='/static/images/javascript.png'>
          <img class="logo-img" title="PostgreSQL" src='/static/images/postgres.png'>
          <img class="logo-img" title="HTML5" src='/static/images/html5.png'>
          <img class="logo-img" title="CSS" src='/static/images/css.png'>
          <img class="logo-img" title="BootStrap" src='/static/images/bootstrap.png'>
          <img class="logo-img" title="Flask" src="/static/images/flask.png">
          <img class="logo-img" title="Jinja" src="/static/images/jinja.png">
          <img class="logo-img" title="Flask-SQLAlchemy" src="/static/images/flask-sqlalchemy.png">
          <img class="logo-img" title="Git" src='/static/images/git.png'>
        </a>
      </div>
  </section>
  

  

  <div class="news-container">
  <h3 class="header-3 mb-3">Latest Health News by NYTimes</h3>
  <ul>
    {% for hr in health_result %}
    
    <li><a href="{{hr.webUrl}}"><span><i class="fas fa-rss"></i></span>  {{hr.webTitle}}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="news-container">
  <h3 class="mb-3">Latest Exercise News by NYTimes</h3>
  <ul>
    {% for er in exercise_result %}
    <li>
      <a href="{{er.webUrl}}"><span><i class="fas fa-rss"></i></span>  {{er.webTitle}}</a>
    </li>
    {% endfor %}
  </ul>
</div>

  <script src="/static/scripts/homepage.js"></script>
</body>
</html>
 

